{% extends "base/base.html" %}
{% load static %}

{# replace base title #}
{% if pageTitle %}
	{% block pageHeader %}{{ pageTitle }}{% endblock pageHeader %}
{% endif %}

{# extend base CSS with  for myblog app #}
{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'myblog/home.css' %}">
{% endblock stylesheet %}


{% block content %}

	{% if blogPostList %}

		{% for post in blogPostList %}
			<article class="post">
				<div class="title">
					<h3><a href="{% url 'blog:post-detail' post.id %}">{{ post.title }}</a></h3>
					<small>{{ post.date_posted }}</small>
				</div>
				<p>{{ post.content }}</p>
			</article>
		{% endfor %}

	{% else %}
		<h2>There are no blog posts at the moment</h2>
	{% endif %}
	

	<div class="pagination">
		{# pagination part #}
		{% if is_paginated %}
			{% if page_obj.has_previous %}
				<a href="?page=1">First</a>
				<a href="?page={{ page_obj.previous_page_number }}">Previous</a>
			{% endif %}

			{% for num in page_obj.paginator.page_range %}
				{% if page_obj.number == num %}
					<a href="?page={{num}}">{{ num }}</a>
				{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
					<a href="?page={{ num }}">{{ num }}</a>
				{% endif %}
			{% endfor %}

			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">Next</a>
				<a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
			{% endif %}
		{% endif %}
	</div>
{% endblock content %}
